.login{
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  &-theme{
    position: absolute;
    top: 0;
    left: 0;
  }
  &-main{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-form{
    min-width: 300px;
    max-width: 500px;
    width: 100%;
    margin-inline: auto;
  }
  &-logo{
    display: flex;
    justify-content: center;
  }
  &-background{
    flex: 1;
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px){
      display: none;
    }
  }
}